body { 
    font-family: Arial, sans-serif; 
    text-align: center; 
    background-color: #cbf1fb;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}
.filters button {
    background-color: #000700;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    }
.gallery { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
 }
.gallery img { 
    width: 250px;
    height: 200px; 
    margin: 5px; 
    display: block; 
    
    
}
